{% extends "base.html.twig" %}

{% block content %}
    <twig:Section>
        <twig:Container>
            {% if news_list is iterable and news_list is not empty %}
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 md:gap-x-10 md:gap-y-16 lg:gap-y-24" role="list">
                    {% for news in news_list %}
                        <div class="flex sm:block justify-center content" role="listitem">
                            {% if news is pimcore_data_object_class('news') %}
                                <twig:Card :item="news" />
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

            {% else %}
                <p class="text-large">{{ 'app.news_list.list.empty'|trans }}</p>
            {% endif %}
        </twig:Container>
    </twig:Section>
{% endblock %}

